@page
@model MangaUs.Pages.CapitulosCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capitulo[0].NumeroCapitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capitulo[0].DtAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capitulo[0].Manga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Capitulo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCapitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manga.Autor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CapituloId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CapituloId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CapituloId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
