@page
@model MangaUS.Pages.MangaCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    
}






<div class="container " style="margin-top: 100px;">
    <h1 class="text-center mb-4" style="color:white">Lista de Mangás</h1>
    <p>
        <div class="form-group">
            <a asp-page="Create" class="btn btn-info">Adicionar Mangá</a>
        </div>
    </p>
<table class="table"   >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manga[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manga[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manga[0].DtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manga[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manga[0].Usuario)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model.Manga) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.MangaId">Alterar</a> 
                <form class="d-inline-block" asp-page-handler="Delete" asp-route-id="@item.MangaId" method="post">
                    <button class="btn btn-danger btn-sm" onclick="confirmaExclusao(this);"
                    type="button">Excluir</button>
                </form>
            </td>
        </tr>
          
}

           
    </tbody>
   
</table>
    
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_CostumConfirm");
    }
}