@page
@model MangaUs.Pages.MangasCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.GeneroId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.GeneroId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.CapaManga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.CapaManga)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.UsuarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.UsuarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.DtCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.DtCriacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manga.MangaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
