@page
@model MangaUs.Pages.PaginasCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pagina</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pagina.NumeroPagina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pagina.NumeroPagina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pagina.Capitulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pagina.Capitulo.CapituloId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pagina.Imagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pagina.Imagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pagina.PaginaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
